/* CSS Document */
:root{
  --MerkColorOrange: #ff5400;
  --MainDarkorange: #4f1a00;
  --HeaderBackgroundColor: #000000;
  --Textcolorwhite: white;
  --MenuBackgroundColor: rgba(0, 0, 0, 0.5);
  --MenuBackgroundColorHover: rgba(0, 0, 0, 0.3);
  --BodyBackgroundColor: #eeeeee;
  --MainColorDarkgrey: #b0b0b0;
  --FooterBackgroundColor: #002c67;
}

*, *::after, *::before {
  box-sizing:border-box;  
  margin: 0;
  padding: 0;  
}

body{
  font-family: arial,sans-serif;
  font-size: 13px;
  background-color: var(--BodyBackgroundColor);
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

/* ------ Styling header ------ */

header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--HeaderBackgroundColor);
}

img[src="images/logo7.webp"]{
  width: 7.7em;
  height: 100%;
  margin: 1.2em 0;
}

/* ------ Styling gebruikersmenu ------ */

.gebruikersmenu{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 4.5em;
  right: 1.3em;
  z-index: 15;
}

.gebruikersmenu button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: var(--HeaderBackgroundColor);
  border: none;
  border-radius: 100%;
  width: 3.85em;
  height: 3.85em;
  z-index: 15;
  top: 0.4em;
  right: 0.8em;
}

.gebruikersmenu button img{
  width: 2.5em;
  height: 0.2em;
  margin: 0.3em;
  transition-duration: 500ms;
}

.gebruikersmenu button img:nth-of-type(1).closed{
  animation: hamburgerCloseBoven 0.7s both;
}

.gebruikersmenu button img:nth-of-type(3).closed{
  animation: hamburgerCloseOnder 0.7s both;
}

.gebruikersmenu button img:nth-of-type(1).open{
  animation: hamburgerOpenBoven 1s both;
}

.gebruikersmenu button img:nth-of-type(3).open{
  animation: hamburgerOpenOnder 1s both;
}


.gebruikersmenu ul{
  background-color: var(--MenuBackgroundColor);
  border-radius: 5%;
  backdrop-filter: blur(25px);
  padding: 1em;
}

.gebruikersmenu ul li{
  width: 16em;
}

.gebruikersmenu ul li a:not(.gebruikersmenu ul li:first-of-type a){
  display: flex;
  align-items: center;

  height: 2.5em;
  padding: 0.5em 0.5em 0.5em 1em;
  border-radius: 15px;

  color: var(--Textcolorwhite);
}

.gebruikersmenu ul li a:hover:not(.gebruikersmenu ul li:first-of-type a){
  background-color: var(--MenuBackgroundColorHover);
}

.gebruikersmenu ul li a img:not(.gebruikersmenu ul li:first-of-type img){
  margin: 0 0.7em 0 0;
  width: 1.3em;
  height: 100%;
}

.gebruikersmenu ul li a span{
  margin-left: auto;
  background-color: var(--MenuBackgroundColorHover);
  padding: 0.35em 0.6em;
  border-radius: 42%;
}

img[src="images/avatar.png"]{
  width: 3.8em;
  border-radius: 100%;
  margin-left: calc(50% - 1.9em);
}

/* ------ End styling gebruikersmenu ------ */

/* ------ Styling search bar ------ */

header form{
  position: relative;
  background-color: rgb(64, 21, 0);
  border-radius: 75px;
  width: 85%;

}

header form input{
  background-color: transparent;
  border: none;
  height: 3.3em;
  width: 100%;
  padding: 1.5em;
  color: var(--MerkColorOrange);
}

header form input::placeholder{
  color: var(--MerkColorOrange);
}

header form input:focus{
  outline: none;
}

header form button{
  position: absolute;
  top:0.25em;
  right: 0.25em;
  background-color: var(--MerkColorOrange);
  padding: 0.6em;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}

header button img{
  width: 1.4em;
  height: 1.4em;
}

/* ------ End styling search bar ------ */

/* ------ Styling nav besturingssysteem ------ */

.navBesturingssysteem ul{
  display: flex;
  justify-content: space-between;
  width: 16.92em;
  margin: 1em 0 2em 0;
}

.navBesturingssysteem ul li button{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBesturingssysteem > ul > li > button > img:not(img[src="images/headericons/arrow_down.svg"]) {
  width: 1.69em;
  height: 1.54em;
}

img[src="images/headericons/arrow_down.svg"]{
  width: 0.92em;
  margin-left: 0.38em;
}
.navBesturingssysteem button{
  border: none;
  background-color: var(--HeaderBackgroundColor);
}

.NavComputer nav{
  position: absolute;
  top: 11.54em;
  left: 0;
  right: 0;
  background-color: var(--MenuBackgroundColor);
  border-radius: 10px;
  backdrop-filter: blur(25px);
  padding: 1em;
  color: var(--Textcolorwhite);
  max-width: 29.23em;
  margin: auto;
  z-index: 15;
}

.NavComputer nav a{
  color: var(--Textcolorwhite);
  font-size: 1em;
  word-wrap: break-word;
}

.NavComputer nav h2{
  font-size: 1em;
}

.NavComputer > nav > h2{
  width: 100%;
  padding: 0.7em 1em;
  border-radius: 10px;
  background-color: var(--MenuBackgroundColorHover);
}

.NavComputer > nav > div{
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: var(--MenuBackgroundColorHover);
  align-items: center;
  padding: 0.7em 1em;
  border-radius: 10px;
}

.NavComputer nav ul:first-of-type{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  height: 17.69em;
}

.NavComputer nav ul:first-of-type li{
  margin: 0.8em 2.5em 0 0.8em;
  align-self: flex-start;
}

.NavComputer nav ul:first-of-type li a{
  display: flex;
  align-items: center;
  font-size: 0.92em;
}

.NavComputer nav ul:first-of-type li div{
  position: relative;
  overflow: hidden;
  background-color: black;
  width: 2.69em;
  height: 2.69em;
  padding: 1em;
  border-radius: 100%;
  margin-right: 0.7em;
}

.NavComputer nav ul:first-of-type li:nth-of-type(2) div{
  background-color: #ff5500;
}

.NavComputer nav ul:first-of-type li:nth-of-type(3) div{
  background-color: #f6ac33;
}

.NavComputer nav ul:first-of-type li:nth-of-type(4) div{
  background-color: #0078f2;
}

.NavComputer nav ul:first-of-type li:nth-of-type(5) div{
  background-color: white;
}

.NavComputer nav ul:first-of-type li:nth-of-type(6) div{
  background-color: #00a2ff;
}

.NavComputer nav ul:first-of-type li:nth-of-type(7) div{
  background-color: #2e64ca;
}

.NavComputer nav ul:first-of-type li:nth-of-type(8) div{
  background-color: #ae00ff;
}

.NavComputer nav ul:first-of-type li:nth-of-type(9) div{
  background-color: #484848;
}

.NavComputer nav ul:first-of-type li:nth-of-type(1) div img{
  width: 3.08em;
  position: absolute;
  top: 0.23em;
  left: -0.62em;
}

.NavComputer nav ul:first-of-type li:nth-of-type(2) div img, .NavComputer nav ul:first-of-type li:nth-of-type(4) div img, .NavComputer nav ul:first-of-type li:nth-of-type(5) div img, .NavComputer nav ul:first-of-type li:nth-of-type(6) div img, .NavComputer nav ul:first-of-type li:nth-of-type(7) div img{
  width: 1.92em;
  position: absolute;
  top: 0.38em;
  left: 0.38em;
}

.NavComputer nav ul:first-of-type li:nth-of-type(3) div img{
  width: 1.92em;
  position: absolute;
  top: 0.46em;
  left: 0.46em;
}

.NavComputer nav ul:first-of-type li:nth-of-type(8) div img{
  width: 1.92em;
  position: absolute;
  top: 0.46em;
  left: 0.38em;
}

.NavComputer nav ul:first-of-type li:nth-of-type(9) div img{
  width: 17px;
  position: absolute;
  top: 0.62em;
  left: 0.69em;
}

.NavComputer nav ul:nth-of-type(2){
  width: 100%;
}

.NavComputer nav ul:nth-of-type(2) ul{
  justify-content: space-between;
}

.NavComputer nav ul:nth-of-type(2) li a{
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 5.77em;
  margin: 1em 0.5em;
  text-align: center;
}

.NavComputer nav ul:nth-of-type(2) li img{
  width: 3.08em;
}

.NavComputer nav ul:nth-of-type(3){
  flex-direction: column;
  align-items: flex-start;
}

.NavComputer nav ul:nth-of-type(3) a{
  margin: 1em 0 0 1.8em;
}

.NavComputer > nav > a{
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 0.9em 0;
  width: 45%;
  border-radius: 5px;
  align-self: center;
  margin: 1em auto;
}


/* ------ End tyling nav besturingssysteem ------ */

/* ------ End styling header ------ */

/* ------ Styling main ------ */

main{
  transform: translateY(-1em);
  max-width: 78.77em;
  margin: auto;
  background-color: var(--BodyBackgroundColor);
  border-radius: 10px;
}

main h2{
  font-size: 1.15em;
}

.homePage > section:nth-of-type(1){
  width: 100%;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

img[src="images/content/campaign-banner-6149fc348d1fe.jpg"]{
  width: 130%;
  transform: translateX(-12%);
}

.homePage section:nth-of-type(2) > div, .homePage section:nth-of-type(4) > div{
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 95%;
  margin: 1em auto;
}

.homePage section:nth-of-type(2) > div a, .homePage section:nth-of-type(4) > div a{
  padding: 0.4em 0.7em;
  border: solid 1px #767676;
  border-radius: 15px;
  color: #767676;
}

.homePage section:nth-of-type(2) ol{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 1.5em;
  grid-column-gap: 0.7em;
  grid-template-columns:repeat(auto-fit, minmax(8em, 1fr));
  width: 95%;
  margin: auto;
}

.homePage section:nth-of-type(2) ol li{
  position: relative;
  border-radius: 10px;
  color: var(--Textcolorwhite);
  width: 100%;
  box-shadow: 1px 1px 25px -20px rgba(0,0,0,0.45);
}

.homePage section:nth-of-type(2) ol li a{
  color: var(--Textcolorwhite);
}

.homePage section:nth-of-type(2) ol li span:nth-of-type(1){
  position: absolute;
  bottom: -1%;
  left: -3%;
  background-color: var(--MerkColorOrange);
  padding: 0.5em;
  border-radius: 5px;
}

.homePage section:nth-of-type(2) ol li span:nth-of-type(2){
  position: absolute;
  bottom: 5%;
  right: 7%;
}

.homePage section:nth-of-type(2) img[src="images/PlatformIcons/Steam-Emblem.png"]{
  position: absolute;
  width: 50px;
  top: 3%;
  right: -5%;
}

.homePage section:nth-of-type(2) img[src="images/content/life-is-strange-true-colors-pc-spel-steam-cover.jpg"]{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* ------ Styling Trustpilot ------ */

.homePage section:nth-of-type(3) {
  width: 95%;
  margin: 2em auto;
  padding: 1.5em;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 25px -20px rgba(0,0,0,0.45);
}

.homePage section:nth-of-type(3) a{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #000000;
  width: 300px;
  margin: 1em auto;
}

.homePage section:nth-of-type(3) p:first-of-type{
  font-size: 1.6em;
  margin: 0 0.8em 0.5em 0;
}
.homePage section:nth-of-type(3) p span{
  text-decoration: underline;
}

.homePage section:nth-of-type(3) img[src="images/trustpilot-stars.svg"]{
  width: 10em;
  margin: 0 0 0.5em 0;
}

.homePage section:nth-of-type(3) img[src="images/trustpilot-logo.svg"]{
  width: 6em;
  margin: 0 0 0 0.4em;
}

.homePage section:nth-of-type(3) article:nth-of-type(1), .homePage section:nth-of-type(3) article:nth-of-type(2), .homePage section:nth-of-type(3) article:nth-of-type(3){
  display: none;
}

/* ------ End styling Trustpilot ------ */

/* ------ Styling User feedback ------ */

.homePage section:nth-of-type(4){
  width: 95%;
  margin: auto;
}

.homePage section:nth-of-type(4) ul{
  display: flex;
  gap: 1.5em;
  padding: 0 0 1em 0;
}
.homePage section:nth-of-type(4) ul li{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 16em;
  width: 50%;
  padding: 1.5em 0;
  background-color: white;
  box-shadow: 1px 1px 25px -20px rgba(0,0,0,0.45);
  border-radius: 10px;
}

.homePage section:nth-of-type(4) ul li:nth-child(3), .homePage section:nth-of-type(4) ul li:nth-child(4){
  display: none;
}

.homePage section:nth-of-type(4) ul li a:first-of-type{
  order: 1;
  width: 80%;
}

.homePage section:nth-of-type(4) ul li p{
  order: 2;
  width: 80%;
}

.homePage section:nth-of-type(4) ul li a h3, .homePage section:nth-of-type(4) ul li p{
  color: black;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  margin: 0.5em 0 0 0;
}

.homePage section:nth-of-type(4) ul li a img:first-of-type{
  width: 6em;
  border-radius: 100%;
}

img[src="images/beoordelingssterren.webp"]{
  width: 7em;
  margin: 0.2em 0 0 0;
}

/* ------ End styling User feedback ------ */

/* ------ Styling detail pagina ------ */

.detail{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 78.77em;
}

/* ------ Styling productinformatie (sectie 1 & 2) pagina ------ */

.detail h1{
  font-size: 1.3em;
  margin: 1em 0;
  text-align: center;
}

.detail img[src="images/content/game-rockstar-red-dead-redemption-2-standard-edition-cover.jpg"]{
  width: 8em;
  border-radius: 5px;
  backdrop-filter: blur(20px);
  margin: 0.5em;
  box-shadow: 1px 1px 25px -20px rgba(0,0,0,0.45);
}

.detail section:first-of-type{
  display: flex;
  justify-content: center;
  order: -1;
  background-image: url("../images/content/game-rockstar-red-dead-redemption-2-standard-edition-cover-blur.jpg");
  background-size: 100%;
  background-position: center;
  width: 100%;
}

.detail section:nth-of-type(2){
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: white;
  box-shadow: 1px 1px 25px -20px rgba(0,0,0,0.45);
}

.detail section:nth-of-type(2) > div:nth-of-type(1){
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--BodyBackgroundColor);
  width: 95%;
  border-radius: 5px;
  height: 3em;
  border: 1px solid var(--MainColorDarkgrey);
}

.detail section:nth-of-type(2) div:nth-of-type(1) p{
  margin: 0 0 0 0.5em;
}

.detail img[src="images/vinkje.webp"]{
  height: 0.8em;
  margin: 0 0 0 1em;
}
.detail section:nth-of-type(2) div:nth-of-type(1) img:nth-of-type(2){
  border-left: 1px solid var(--MainColorDarkgrey);
  padding: 0 0 0 1em;
}

.detail section:nth-of-type(2) ul{
  display: flex;
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;
}

.detail section:nth-of-type(2) ul:first-of-type{
  padding: 0 0 1em 0;
  margin: 1em 0;
  border-bottom: 1px solid var(--MainColorDarkgrey);
}

.detail section:nth-of-type(2) ul li{
  padding: 0.5em 1em;
  background-color: var(--MainColorDarkgrey);
  border-radius: 5px;
}

.detail section:nth-of-type(2) ul li:first-of-type{
  background-color: var(--HeaderBackgroundColor)
}

.detail section:nth-of-type(2) ul li a{
  color: var(--Textcolorwhite);
}

.detail section:nth-of-type(2) > p:first-of-type{
  color: var(--MainColorDarkgrey);
  margin: 2em 0;
}

.detail section:nth-of-type(2) > p:first-of-type > span{
  padding-left: 0.5em;
  border-left: 1px solid var(--MainColorDarkgrey);
  margin-left: 0.3em;
}

.detail section:nth-of-type(2) ul:nth-of-type(3) li{
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid var(--MainColorDarkgrey);
}

.detail section:nth-of-type(2) ul:nth-of-type(3) li a{
  color: var(--MainColorDarkgrey);
}

.detail section:nth-of-type(2) > div:nth-of-type(2){
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--MainColorDarkgrey);
  margin: 2em 0;
}

.detail section:nth-of-type(2) > div:nth-of-type(2) p:nth-of-type(2){
  padding-left: 0.5em;
  margin-left: 0.5em;
  border-left: 1px solid var(--MainColorDarkgrey);
}

.detail img[src="images/hoticoon.webp"]{
  width: 0.8em; 
  margin: 0 0.5em 0 0;
}

.detail section:nth-of-type(2) div:nth-of-type(3){
  background-color: var(--HeaderBackgroundColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.detail section:nth-of-type(2) div:nth-of-type(3) p:first-of-type{
  color: var(--MainColorDarkgrey);
  margin: 1em 0;
}

.detail section:nth-of-type(2) div:nth-of-type(3) p:nth-of-type(2){
  color: var(--MerkColorOrange);
  font-size: 1.5em;
  font-weight: bold;
}

.detail section:nth-of-type(2) div:nth-of-type(3) p:nth-of-type(2) span{
  color: var(--Textcolorwhite);
  font-size: 1.8em;
}

.detail section:nth-of-type(2) div:nth-of-type(3) div{
  display: flex;
  align-items: center;
  width: 97%;
  gap: 0.5em;
  margin: 1em auto;
}

.detail section:nth-of-type(2) div:nth-of-type(3) button:first-of-type{
  padding: 1.5em;
  border-radius: 5px;
  border: none;
  background-color: var(--MainDarkorange);
  cursor: pointer;
}
.detail img[src="images/heartfullicon.svg"]{
  width: 1.5em;
}

.detail section:nth-of-type(2) div:nth-of-type(3) button:nth-of-type(2){
  padding: 1.6em 0;
  width: 100%;
  border-radius: 5px;
  border: none;
  background-color: var(--MerkColorOrange);
  color: var(--Textcolorwhite);
  font-weight: bold;
  cursor: pointer;
}
/* ------ End styling productinformatie (sectie 1 & 2) pagina ------ */

/* ------ Styling verdere informatie ------ */

.detail section:nth-of-type(3) > ul:first-of-type{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 2em 0 0 0;
}


.detail section:nth-of-type(3) > ul:first-of-type li a{
  background-color: white;
  padding: 1em;
  display: flex;
  align-items: center;
  height: 4em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: var(--Textcolorwhite);
}

.detail section:nth-of-type(3) ul:first-of-type li:nth-of-type(1) a{
  background-color: var(--HeaderBackgroundColor);
} 

.detail section:nth-of-type(3) ul:first-of-type li:nth-of-type(2) span{
  display: none;
}

.detail section:nth-of-type(3) ul:first-of-type li:nth-of-type(3) a span:first-of-type{
  display: none;
}

.detail section:nth-of-type(3) ul:first-of-type li:nth-of-type(3) a span:nth-of-type(2){
  background-color: green;
  padding: 0.5em;
  border-radius: 100%;
  font-size: 1.2em;
} 

.detail section:nth-of-type(3) ul:first-of-type li:nth-of-type(4) span{
  display: none;
}

.detail section:nth-of-type(3) ul:first-of-type img[src="images/activationicoon.svg"]{
  height: 2em;
}

.detail section:nth-of-type(3) article > img:first-of-type{
  width: 120%;
  height: 80%;
  transform: translate(-2em, -2em);
}

.detail section:nth-of-type(3) article ul:first-of-type{
  display: flex;
  gap: 0.4em;
}
.detail section:nth-of-type(3) article ul:first-of-type img{
  width: 100%;
  border-radius: 5px;
  margin: -1em 0 1em 0;
  cursor: pointer;
}

.detail section:nth-of-type(3) article{
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2em 1.5em ;
  margin: 0 0 1em 0;
  border-radius: 10px;
  box-shadow: 1px 1px 25px -20px rgba(0,0,0,0.45);
  overflow: hidden;
}

.detail section:nth-of-type(3) article h2{
  color: var(--MerkColorOrange);
  margin: 2em 0 0.5em 0;
}

.detail section:nth-of-type(3) article p span{
  display: inline-block;
  margin: 0 0 1.5em 0;
}

.detail section:nth-of-type(3) article h3{
  margin: 2em 0;
}

.detail section:nth-of-type(3) article ul:nth-of-type(2) li{
margin: 0 0 0 2em;
}

/* Geleende code van https://www.w3schools.com/howto/howto_css_bullet_color.asp */
.detail section:nth-of-type(3) article ul:nth-of-type(2) li::before{
  content: "\2022";
  display: inline-block;
  font-weight: bold;
  color: var(--MerkColorOrange);
  margin: 0 0 0 -1em;
  width: 1em;
}
/* Einde van het lenen */

.detail section:nth-of-type(3) article p:nth-of-type(4){
  margin: 0.5em 0 2em 0;
}

.detail section:nth-of-type(3) article h3:nth-of-type(3), .detail section:nth-of-type(3) article h3:nth-of-type(4), .detail section:nth-of-type(3) article h3:nth-of-type(5){
  font-size: 1em;
  color: var(--MerkColorOrange);
  margin: 1em 0;
}

.detail section:nth-of-type(3) article h3 span{
  color: #000000;
  margin: 0 0 0 0.5em;
  font-weight: normal;
}

.detail section:nth-of-type(3) article ul span{
  margin: 0 0 0 1em;
}

.detail section:nth-of-type(3) article ul li:first-of-type span{
  margin: 0 0 0 1.5em;
}

.detail section:nth-of-type(3) article p:last-of-type{
  margin: 1em 0 0 0;
  text-align: center;
}

/* ------ End styling verdere informatie ------ */

/* ------ End styling detail pagina ------ */

/* ------ End styling main ------ */

/* ------ Styling footer ------ */

footer{
  background-color: var(--FooterBackgroundColor);
  color: var(--Textcolorwhite);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 2em 0;
}

footer nav ul{
  padding: 0.5em 0 0 0;
}

footer nav ul li{
  text-align: center;
  padding: 0.5em 0 0 0; 
}

footer nav ul li a{
  color: var(--Textcolorwhite);
}

footer > ul:first-of-type{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 2em 0;
}

footer > ul:first-of-type li a{
  color: var(--Textcolorwhite);
  position: relative;
}
footer > ul:first-of-type li a span{
  font-size: 1.3em;
  margin: 0 0 0 0.2em;
  font-weight: bold;
}

footer > ul:first-of-type li:first-of-type a{
  padding: 0 2.2em 0 0;
}

img[src="images/footericons/nederlandsevlag.png"]{
  position: absolute;
  top: -0.1em;
  right: 0;
}

footer > ul:nth-of-type(2){
  display: flex;
  justify-content: center;
  gap: 0.5em;
  padding: 0 0 2em 0;
}

footer > ul:nth-of-type(2) img{
  width: 4em;
  border-radius: 100%;
}

footer > ul:nth-of-type(3){
  display: flex;
  justify-content: center;
  gap: 1em;
  margin: 1em 0;
}

footer p:first-of-type{
  opacity: 30%;
  text-align: center;
  margin: 1em 0 0.6em 0;
}

footer > img:nth-of-type(1), footer > img:nth-of-type(2), footer > img:nth-of-type(3){
  width: 6.5em;
  margin: 0.2em 0 0 0;
}

/* ------ End styling footer ------ */

/* ------ Styling other ------ */

.hidden{
  display: none;
}

/* ------ Styling other ------ */

/* ------ Animatie ------ */

@keyframes hamburgerOpenBoven{
  0% { 
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(45deg) translate(0.7em, 0.5em);
  }
}

@keyframes hamburgerOpenOnder{
  0% { 
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-45deg) translate(0.5em, -0.5em);
  }
}

@keyframes hamburgerCloseBoven{
  0% { 
    transform: rotate(45deg) translate(0.7em, 0.5em);
  }

  100% {
    transform: rotate(0deg) translate(0, 0);
  }
}

@keyframes hamburgerCloseOnder{
  0% { 
    transform: rotate(-45deg) translate(0.5em, -0.5em);
  }

  100% {
    transform: rotate(0deg) translate(0, 0);
  }
}

/* ------ End animatie ------ */

/* ------ Responsive ------ */

@media (max-width: 348px){
  .homePage section:nth-of-type(2) ol li:nth-of-type(7), .homePage section:nth-of-type(2) ol li:nth-of-type(8), .homePage section:nth-of-type(2) ol li:nth-of-type(9), .homePage section:nth-of-type(2) ol li:nth-of-type(10){
    display: none;
  }
}

@media (min-width: 400px){
  .detail section:nth-of-type(2) div:nth-of-type(1) img:nth-of-type(3){
    border-left: 1px solid var(--MainColorDarkgrey);
    padding: 0 0 0 1em;
  }

  .detail section:nth-of-type(3) ul:first-of-type li a{
    padding: 1em 1.5em;
  }
}

@media (min-width: 450px) {
  .homePage section:nth-of-type(2) ol{
    grid-template-columns:repeat(auto-fit, minmax(10.5em, 1fr));
  }
}

@media (min-width: 500px){
  .navBesturingssysteem ul{
    width: 100%;
    justify-content: space-evenly;
    font-size: 1.15em;
  }

  .navBesturingssysteem ul li:not(.navBesturingssysteem ul li:last-of-type){
    margin: 0 2em 0 0;
  }

  .navBesturingssysteem ul li span{
    display: block;
    color: var(--Textcolorwhite);
    margin: 0 0.3em 0 0.8em;
  }

  img[src="images/headericons/arrow_down.svg"]{
    opacity: 50%;
  }
  .NavComputer nav{
    top: 10.45em;
  }
  
  .NavComputer nav ul:first-of-type{
    height: 15em;
  }

  .NavComputer nav ul:first-of-type li{
    margin: 0;
  }

  .NavComputer nav ul:first-of-type li a{
    font-size: 0.8em;
    margin: 1em 0 0 1em;
  }
  .NavComputer nav ul:nth-of-type(2){
    font-size: 0.8em;
  }
  .NavComputer nav ul:nth-of-type(3) li a{
    font-size: 0.8em;
    margin-top: 3em;
  }

  .detail section:nth-of-type(3) ul:first-of-type li:nth-of-type(4) span{
    display: flex;
    color: #000000;
    margin: 0 0.5em 0 0;
  }
}

@media (min-width: 600px){
  .homePage section:nth-of-type(2) ol li:nth-of-type(9){
    display: none;
  }
  img[src="images/logo7.webp"]{
    width: 10em;
  }
  .homePage section:nth-of-type(4) ul li{
    width: 33%;
  }
  .homePage section:nth-of-type(4) ul li:nth-child(3){
    display: flex;
  }
  .NavComputer nav{
    top: 11em;
  }
  .detail section:nth-of-type(3) ul:first-of-type li:nth-of-type(3) a span:first-of-type{
    display: flex;
    color: #000;
    margin: 0 0.5em 0 0;
  }
}

@media (min-width: 650px){


  .homePage section:nth-of-type(3){
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2em;

  }
  .homePage section:nth-of-type(3) img:not(img[src="images/trustpilot-stars.svg"], img[src="images/trustpilot-logo.svg"]){
    height: 2.5em;
    margin: 0 1.5em 0 0;
  }

  .homePage section:nth-of-type(3) article p:first-of-type:not(.homePage section:nth-of-type(3) article:nth-of-type(4) p){
    margin: 0;
  }

  .homePage section:nth-of-type(3) article p:nth-child(2):not(.homePage section:nth-of-type(3) article:nth-of-type(4) p){
    color: gray;
  }

  .homePage section:nth-of-type(3) article:nth-of-type(1), .homePage section:nth-of-type(3) article:nth-of-type(2), .homePage section:nth-of-type(3) article:nth-of-type(3){
    display: flex;
    margin: auto;
  }
}

@media (min-width: 700px){
  header{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .navBesturingssysteem{
    width: 53.84em;
  }
    .NavComputer nav{
    top: 8em;
  }
  header form{
    width: 31em;
    margin: 0 3em 0 0;
  }
  img[src="images/logo7.webp"]{
    margin: 1.2em 5em 1.2em 3em;
    justify-self: flex-start;
  }
  .detail section:nth-of-type(3) ul:first-of-type li:nth-of-type(2) span{
    display: flex;
    color: #000;
    margin: 0 0.5em 0 0;
  }
}

@media (min-width: 750px) {
  .homePage section:nth-of-type(2) ol{
    grid-template-columns:repeat(auto-fit, minmax(13em, 1fr));
  }

  .detail{
    display: grid;
    grid-template-columns: 1fr 70%;
    align-items: flex-start;
  }
  .detail section:nth-of-type(1){
    background-image: none;
  }
  .detail section:nth-of-type(1) img{
    width: 90%;
    margin: 1.5em 0;
    border-radius: 10px;
  }

  .detail section:nth-of-type(2){
    margin: 1.5em 0 0 0;
    width: 98%;
    border-radius: 10px;
  }

  .detail section:nth-of-type(3){
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 0 1em;
  }

}

@media (min-width: 850px) {
  .homePage section:nth-of-type(2) ol{
    grid-template-columns:repeat(auto-fit, minmax(12em, 1fr));
    grid-column-gap: 1.5em;
  }

  .homePage section:nth-of-type(4) ul li{
    width: 25%;
  }

  .homePage section:nth-of-type(4) ul li:nth-child(4){
    display: flex;
  }

}

@media (min-width: 904px) {
  .homePage section:nth-of-type(2) ol li:last-of-type, .homePage section:nth-of-type(2) ol li:nth-of-type(9){
    display: block;
  }
}

@media (min-width: 1024px){
  .homePage section:nth-of-type(3){
    display: flex;
    justify-content: space-between;
  }
  body{
    background-image: url("../images/content/Achtergrond1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 135em;
    background-color: #1a0c03;
  }
  main{
    transform: translateY(0);
  }
  .NavComputer nav{
    top: 8.8em;
  }

  footer{
    background-color: #1a0c03;
    background: linear-gradient(0deg, rgba(26,12,3,1) 0%, rgba(26,12,3,1) 93%, rgba(26,12,3,0) 100%);
    padding: 2em 0 2em 0;
    margin-top: -2em;
  }
}
@media (min-width: 1376px){
  .navBesturingssysteem ul{
    margin: 2em 0 2em 0;
  }
  .NavComputer nav{
    top: 5.3em;
  }
}


/* ------ End responsive ------ */

